$font-th-reg-color: #375F9B;
$home-btn-th-reg-color: #375F9B;
$home-btn-text-th-reg-color: white;
$register-btn-th-reg-color: #b0bbc3;
$register-line-color: #D7001E;
$register-button-back-color: #96A5AF;
$register-terms-border-color: #96A5AF;
$register-checkbox-line-color: #9B9B9B;
$register-status-bar-blue: #4696CD;
$register-status-bar-gray: #96A5AF;
