.page-main {
    overflow: hidden; // Trim backgrounds
}

.banner {
    background-image: url("../images/header-image.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;

    &>.container {
        height: 100%;
    }

    @media screen and (min-width: $screen-sm) {
        height: 350px;
    }

    @media screen and (min-width: $screen-md) {
        height: 500px;
    }

    @media screen and (max-width: $screen-sm - 1) {
        background: none;
    }
    
    &-inner {
        height: 100%;
        position: relative;

        &:after {
            content: "";
            display: none;
            background: #fff;
            left: auto;
            position: absolute;
            right: -4000px;
            top: 0;
            bottom: 0;
            width: 4000px;

            @media screen and (min-width: $screen-sm) {
                display: block;
            }
        }
    }

    &-image-container {
        width: 100%;
        margin: 0 auto;
        max-width: 520px;
        min-width: 320px;
        border-radius: 0 50% 50% 50%;
        overflow: hidden;

        @media screen and (min-width: $screen-sm) {
            position: absolute;
            top: 19px;
            left: 572px;
            z-index: 100;
        }

        @media screen and (min-width: $screen-md) {
            left: 686px;
        }

        @media screen and (min-width: $screen-lg) {
            left: 896px;
        }
    }

    &-image {
        padding-bottom: 100%;
        background: url(../images/AL_Gif_test_Size-1mb.gif) no-repeat 0 0;
        background-size: 101%;
    }

    h1 {
        color: #fff;
        margin-top: 100px;
        position: relative;
        z-index: 120;

        @media screen and (min-width: $screen-md) {
            margin-top: 180px;
        }
    }
}

.layout {
    padding: 25px 0 0 0;

    @media screen and (min-width: $screen-sm) {
        padding: 50px 0 40px 0;
    }
}
