.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  -webkit-box-shadow: 3px 3px 2px #ccc;
          box-shadow: 3px 3px 2px #ccc;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .custab:hover {
    -webkit-box-shadow: 3px 3px 0 transparent;
            box-shadow: 3px 3px 0 transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
    display: block;
    word-break: break-all; }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px; }
  #no-more-tables tr {
    border: 1px solid #ccc; }
  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left; }
    #no-more-tables td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
      content: attr(data-title); }
  /* Hide table headers (but not display: none;, for accessibility) */
  /*
	Label the data
	*/ }
