// Industries Page
.industries {

    .introduction {
        margin: 8px 0 75px 0;

        @media screen and (max-width: $screen-sm - 1) {
            margin-bottom: 48px;
        }
    }
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;

    & > div {
        @media screen and (max-width: $screen-sm - 1) {
            width: 100%;
        }
    }

    @media screen and (min-width: $screen-xs) {
        .tile-block-content {
            &:nth-child(10),
            &:nth-child(12) {        
                margin-bottom: 0;
            }
        }
    }
    
    @media screen and (min-width: $screen-sm) {
        padding-top: 80px;
    }

    @media screen and (min-width: $screen-md) {
        padding-top: 100px;
    }
        
    @media screen and (min-width: $screen-sm) {
        @include orders(12);
    }
}

.row-inverse {

    .tile-block {

        @media screen and (min-width: $screen-sm) {

            &-1, &-3, &-5 {
                top: 0;
            }
    
            &-2, &-4, &-6 {
                top: -63px;
            }

        }
    }
}

.tile-block {
    color: #fff;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: top 0.1s ease 0s;
    top: 0; /* start out at position 0 */

    &:hover {
        background-color: #EBEBEB;
        color: #000000;
    }

    @media screen and (max-width: $screen-sm - 1) {
        &.collapsed {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: $screen-sm) {
        @include size(350px, 300px);
        margin-bottom: 20px;
    }

    @media screen and (min-width: $screen-md) {
        @include size(400px, 300px);
        margin-bottom: 40px;
    }
 
    &-1,
    &-3,
    &-5 {

        @media screen and (min-width: $screen-sm) {
            margin-right: 20px;
            top: -63px;
        }

        @media screen and (min-width: $screen-md) {
            margin-right: 35px;
        }
    }

    &-1 {
        background-color: #375F9B;
    }

    &-2 {
        background-color: #50C3E1;
    }

    &-3 {
        background-color: #96A5AF;

        @media screen and (min-width: $screen-lg) {
            @include size(530px, 250px);
            margin-left: -130px;
        }
    }

    &-4 {
        background-color: #4696CD;

        @media screen and (min-width: $screen-lg) {
            @include size(530px, 250px);
            margin-right: -130px;
        }
    }

    &-5 {
        background-color: #645F9B;
    }

    &-6 {
        background-color: #003264;
    }

    &-number {
        background-color: #fff;
        color: #000000;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        min-width: 92px;
        padding: 22px 15px;
        text-transform: uppercase;
    }

    p {
        color: inherit;
        font-family: "LubalinGraphStd";
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 0.69px;
        line-height: 28px;     
        margin: 0;
        padding: 30px;

        @media screen and (max-width: $screen-sm - 1) {            
            padding: 40px 30px 67px;
        }

        @media screen and (min-width: $screen-sm) {
            font-size: 25px;
            line-height: 34px;
            letter-spacing: 0.91px;
        }

        @media screen and (min-width: $screen-md) {
            font-size: 29px;
            margin-top: 10px;
        }
    }

    .icon-arrow {
        font-size: 18px;
        position: absolute;
        bottom: 17px;
        left: 29px;
        transition: transform 0.2s;
    }

    &:not(.collapsed) {
        background-color: #EBEBEB;
        color: #000000;

        .icon-arrow {
            transform: rotate(180deg);
        }
    }
}

.tile-block-content {
    background-color: #EBEBEB;
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
    @include clearfix;
    will-change: transform;
    display: block !important;
    position: absolute;
    left: - 9999px;
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;

    &.in {
        position: relative;
        visibility: visible;
        left: 0;
        opacity: 1;
    }

    @media screen and (min-width: $screen-sm) {
        top: -20px;
        margin-bottom: 63px;
        padding: 70px 0 30px;
    }

    @media screen and (min-width: $screen-md) {
        paddingи-bottom: 40px;
        top: -40px;
    }

    h2 {
        margin-bottom: 38px;

        &:after {
            content: "";
            border-bottom: 2px solid #D7001E;
            display: block;
            margin-top: 35px;
            width: 60px;
        }
    }
}

.advantages {
    margin: 18px 0;

    @media screen and (min-width: $screen-sm) {
        margin-top: 60px;
    }

    &-row {
        display: flex;
        margin-bottom: 18px;
        @include clearfix;

        @media screen and (max-width: $screen-sm - 1) {
            align-items: center;
            flex-direction: column;
        }

        @media screen and (min-width: $screen-lg) {
            margin-left: -36px;
        }
    }

    &-item {
        background: #fff;
        border-radius: 0 50% 50% 50%;
        @include square(180px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $screen-md) {
            @include square(240px);
        }

        &:not(:last-child) {
            margin: 0 0 18px 0;

            @media screen and (min-width: $screen-sm) {
                margin: 0 50px 0 0;
            }
        }

        .advantages-size {
            font-size: 46px;
            margin: -15px 0 5px;

            @media screen and (min-width: $screen-md) {
                font-size: 60px;
                margin: -20px 0 5px;
            }

            sup {
                font-size: 40%;
                top: -26px;
            }
        }

        p {
            margin: 0;
            line-height: 1;
        }
    }

    &-note {
        color: $gray-light;
        font-size: 13px;
    }
}

.discover {
    margin-bottom: 8px;

    img {
        displaY: block;
        margin: 0 auto;

        @media screen and (min-width: $screen-sm) {
            float: left;
            margin: 0;
        }
    }

    h2 {
        @media screen and (max-width: $screen-sm - 1) {
            margin-bottom: 10px;
        } 
    }

    &-text {
        margin: 20px 0 0 0;

        @media screen and (min-width: $screen-sm) {
            margin: 0 0 0 197px;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .introduction-text {
        color: #4696CD;
        font-family: "LubalinGraphStd";
        margin-bottom: 32px;
    }
}

.challenge {
    margin-bottom: 40px;

    p {
        margin-bottom: 25px;
    }
}

.products {
    display: flex;
    margin-bottom: 40px;

    @media screen and (max-width: $screen-sm - 1) {
        flex-direction: column;
        margin-bottom: 20px;
    }

    @media screen and (min-width: $screen-md) {
        margin-left: -102px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $screen-lg) {
        margin-left: -36px;
        margin-bottom: 80px;
    }
}

.product {

    &-item {
        background: #fff;
        position: relative;
        flex-basis: 270px;
        margin: 0 0 20px 0;

        @media screen and (min-width: $screen-sm) {
            margin: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &-discount {
        background-color: #D7001E;
        color: #fff;
        display: flex;
        font-size: 17px;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        @include square(60px);
    }

    &-image {
        margin-bottom: 16px;
        padding: 13px;

        img {
            width: 100%
        }
    }

    &-info {
        padding: 0 19px 19px 19px;

        @media screen and (min-width: $screen-md) {
            padding-bottom: 35px;
        }
    }

    &-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin: 5px 0;
        min-height: 42px;

        @media screen and (min-width: $screen-md) {
            font-size: 18px;
        }

        a {
            color: #50C3E1;
        }
    }

    &-price {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 14px;

        &-discount {
            color: #D7001E;
            margin-left: 13px;
        }
    }

    &-description {
        color: #000000;
        font-size: 12px;
        letter-spacing: 0.29px;
        line-height: 18px;
        margin-bottom: 17px;

        @media screen and (min-width: $screen-md) {
            font-size: 14px;
        }
    }
}

.tile-styled-list {
    li {
        color: #000000;
        font-size: 16px;
        letter-spacing: 0.33px;
        line-height: 25px;
        margin-bottom: 25px;
        padding-left: 13px;
    }
}

.solutions {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-sm) {
        flex-direction: row;
    }
    @media screen and (min-width: $screen-md) {
        margin-bottom: 40px;
    }

    &-image {
        margin: 0 auto 25px;

        @media screen and (min-width: $screen-sm) {
            margin: 0;
        }
        @media screen and (min-width: $screen-md) {
            margin-left: -90px;
        }

        img {
            max-width: 100%;
        }
    }

    &-list {
        @media screen and (min-width: $screen-md) {
            margin-left: 39px;
            margin-top: 15px;
        }
    }
}

.customer-tips {
    background-color: #96A5AF;

    @media screen and (min-width: $screen-sm) {
        height: 350px;
        margin: 30px 30px 0 30px;
    }

    @media screen and (min-width: $screen-md) {
        height: 550px;
    }

    &-left {
        padding: 20px;

        @media screen and (min-width: $screen-sm) {
            float: left;
            padding: 70px 0 0 50px;
            width: 40%;
        }

        @media screen and (min-width: $screen-md) {
            padding: 135px 0 0 99px;
        }
    }

    &-right {
        background-color: #748793;
        padding: 20px;

        @media screen and (min-width: $screen-sm) {
            height: 350px;
            float: right;
            margin: -30px -30px 0 0;
            padding: 50px 50px 0 50px;
            width: 60%;
        }

        @media screen and (min-width: $screen-md) {
            height: 550px;
            margin: -30px -30px 0 0;
            padding: 180px 135px 0 60px;
        }

        p {
            @media screen and (min-width: $screen-sm) {
                margin-bottom: 37px;
            }
        }
    }

    h1 {
        font-size: 35px;
        margin: 0 0 30px 0;

        @media screen and (min-width: $screen-md) {
            font-size: 50px;
            margin-bottom: 62px;
        }

        &:after {
            content: "";
            border-bottom: 3px solid #fff;
            display: block;
            margin-top: 30px;
            width: 90px;

            @media screen and (min-width: $screen-md) {
                margin-top: 46px;
                width: 160px;
            }
        }
    }

    p {
        span {
            font-size: 14px;
        }
    }

    h1,
    p {
        color: #fff;
    }

    .btn-secondary {

        @media screen and (max-width: $screen-sm - 1) {
            display: block
        }

        &:hover,
        &:focus,
        &:active {
            background-color: darken(#96A5AF, 20%);
        }
    }
}


.expert {

    &-widget {
        align-items: center;
        display: flex;
    }

    &-image {
        margin-right: 20px;
        height: 70px;
        width: 70px;

        @media screen and (min-width: $screen-md) {
            height: 100px;
            width: 100px;
        }
    }

    &-name {
        margin-bottom: 0;
    }
}

.form-bottom-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 0 0 20px 0;

    .btn {
        @media screen and (max-width: $screen-sm - 1) {
            display: block;
            width: 100%;
        }
    }

    @media screen and (min-width: $screen-sm) {
        flex-direction: row;
        margin: 0 0 50px 0;
    }
}

.note-text {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 16px;

    @media screen and (max-width: $screen-sm - 1) {
        margin: 0 0 20px 0;
    }
}

.tile-block-list {
    @media screen and (min-width: $screen-sm) {
        margin: 37px 0 74px 0;
    }
}
