@media (min-width: 200px) {
	.invoices__search-by_invoice{
		&__button {
			margin-left: 0;
			margin-top: 20px;
		}
		&__input {
			min-width: 115%;
		}
	}
	.invoices__search-by_orders__button {
		margin-left: 0;
		margin-top: 20px;
		height: 46px;
		width: 90px;
		padding: 15px 20px;
	}
	.invoices__list__head {
		.btn-primary {
			display: none;
		}
	}
	.invoices__list {
		.btn-primary {
			margin-top: 40px;
			height: 46px;
			padding: 15px 40px;
			margin-bottom: 57px;
		}
	}
	.invoices__search-by {
		margin-bottom: 20px;
		&_po, &_order, &_date, &_invoice{
			margin: 40px 0 0 0;
			&__controls {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				.calendar:nth-child(1) {
					margin-bottom: 13px;
				};
			}
		}
		&__radio {
			margin-right: 30px;
		}
		&__magnifier {
			display: none;
		}

	}

}
@media (min-width: 768px) {
	.invoices__search-by_date {
		.invoices__search-by_orders__button  {
			display: none;

		}
	}
	.invoices__search-by_date__controls {
		.invoices__search-by_invoice__button {
			margin-left: -14px;
			margin-right: 170px;
			margin-top: 0;
		}
	}
	.invoices__search-by_invoice{
		&__button {
			margin-left: 60px;
			margin-top: 0;
		}
		&__input {
			min-width: 355px;
		}
	}
	.invoices__list {
		margin-bottom: 210px;
		.btn-primary {
			display: none;
			width: 250px;
			height: 46px;
			margin-bottom: 0;
		}
	}
	.invoices__list {
		.invoices__list__head {
			.btn-primary {
				display: block;
				width: 250px;
				height: 66px;
			}
		}
	}

	.invoices__search-by{
		margin-bottom: 60px;
		&_po, &_order, &_invoice {
			margin: 40px 0 0 60px;
			&__controls {
				display: flex;
				flex-direction: row;
				align-items: center;
				.calendar:nth-child(1) {
					margin-bottom: 0;
				};
			}
		}
		&_date {
			.calendar__icon {
				margin-left: 10px;
			}
			&__controls {
				margin: 40px 0 0 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				.calendar:nth-child(1) {
					margin-bottom: 0;
				};
			}
		}
		&__radio {
			margin-right: 70px;
		}
		&__magnifier {
			display: block;
			position: relative;
			left: 10px;
		}
	}
	.flex-container {
		width: 130%;
	}
}
.radio-inline + .radio-inline {
	margin-left: 0;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
	.invoices__search-by__radio {
		margin-bottom: 15px;
	}
}
.account__main {
	.invoices__list {
		width: 110%;
	}
}
.invoices__list__body {
	.table_sort-by_order {
		display: flex;
	}
	.table_sort-by_order::after, .table_sort-by_po::after {
		content: none;
	}

	.angle {
		position: relative;
		width: 10px;
		height: 10px;
		top: 18px;
		top: 2px;
		left: 5px;
		background-color: transparent;
		border-right: 2px solid #000;
		border-bottom: 2px solid #000;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);

	}
	.table_sort-by_po {
		.angle {
			left: 41px;
			top: -19px;
		}
	}
}
.invoices {
	&__search-by {
		display: flex;
		flex-direction: column;

		& > h2 {
			margin-bottom: 20px;
		}
		&_active {
			display: block!important;
		}
		&__actions {
			display: flex;
			flex-direction: row;
		}
		&__magnifier {
			margin: 0 26px 0 0;
			color: #96A5AF;
		}
		&__radio {
			font-weight: 200;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			cursor: pointer;
			user-select: none;
			& > input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}
			& .checkmark {
				position: absolute;
				top: -3px;
				left: -10px;
				height: 25px;
				width: 25px;
				background-color: transparent;
				border: 1px solid rgba(150, 165, 175, 0.5);
				border-radius: 50%;
				&::after {
					content: "";
					position: absolute;
					display: none;
					top: 4px;
					left: 4.2px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #375F9B;
				}
			}
			& > input:checked ~ .checkmark:after {
  				display: block;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&_date,
		&_order,
		&_invoice,
		&_po,
		&_unpaid {
			display: none;
		}
		&_unpaid {
			margin: 40px 0 0 60px;
			& .form-group {
				margin-bottom: 0;
			}
			&__controls {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			&__input {
				height: 35px;
			}
			&__button {
				height: 46px;
				width: 90px;
				padding: 15px 20px;

			}
		}
		&_po,
		&_order,
		&_date,
		&_invoice {
			& .form-group {
				margin-bottom: 0;
			}

			&__input {
				max-width: 350px;
				height: 35px;
			}
			&__button {
				height: 46px;
				width: 90px;
				padding: 15px 20px;

			}

			.calendar:nth-child(2) {
				.calendar__label {
					margin-left: 18px;
				}
			}
		}
	}
	&__list {
		&__table {
			&__input {
				margin-right: 5px!important;
			}
		}
		&__head {
			display: flex;
			flex-direction: row;
			margin-bottom: 23px;
			margin: 23px 0;
			& > button {
				margin-left: auto;
			}
		}
	}
}
#myModal{
.page-main{
	margin-top:30px;
}
margin-top: 6%																																																																																																																																																																																																																						;
}
.modal__padding{
padding:0 50px 50px 50px;
}
@media(min-width: 200px) {
	.dl-horizontal {
		color: black;
		font-weight: 500;
		span {
			font-weight: 400;
		}
		margin-top: 41px;
		dd {
			margin-left: 180px;
			position: relative;
			top: -19px;
		}
		dt {
			font-weight: 600;
    		margin-top: -19px;
		}
	}
	.invoice-details__help {
		text-align: left;
		.help__message {
			font-weight: 400;
		}
	}

	.invoice-details__actions {
		& .btn-primary {
			margin: 0 30px 0 0;
		}
		.btn {
			padding: 15px 20px;
		}
	}

	 .invoice-details__help-box, .invoice-details__info_additional-po {
		display: none;
	}

	.invoice-details__info {
		flex-direction: column;
		.invoice-details__item {
			min-width: 100%;
			max-width: 100%;

			margin-bottom: 10px;

			flex-grow: 1;
			.title {
				color: #000000;
			}
			.value {
				color: #000000;
			}
		}
		.invoice {
			&-date {
				display: none;
			}
			&-sold-to {
				display: none;
			}
			&-account-name {
				display: none;
			}
		}
	}
}
@media(min-width: 768px) {
	.dl-horizontal {
		margin-top: 12px;
		dd {
			margin-left: 180px;
			position: relative;
			top: 0;
		}
		dt {
    		margin-top: 0;
		}
	}
	.invoice-details__help {
		text-align: right;
		.help__message {
			font-weight: 500;
		}
	}
	.invoice-details__actions {
		& .btn-primary {
			margin: 0 30px 0 auto;
		}
		.btn {
			padding: 25px 40px;
		}
	}
	.address-book, .invoice-details__help-box  {
		display: block;
	}
	.invoice-details__info_additional-po {
		display: flex;
	}
	.invoice-details__info {
		flex-direction: row;
		.invoice-details__item {
			min-width: 33%;
			max-width: 33%;

			margin-bottom: 10px;

			flex-grow: 1;
			.title {
				color: #000000;
			}
			.value {
				color: #96A5AF;
			}
		}
		.invoice{
			&-po-number {
				display: none;
			}
			&-date {
				display: block;
				.value {
					padding-left: 25px;
				}
			}
			&-due-date {
				.value {
					padding-left: 46px;
				}
			}
			&-total-amount {
				.value {
					padding-left: 9px;
				}
			}
			&-due-amount {
				.value {
					padding-left: 16px;
				}
			}
			&-account-name {
				display: block;
				.value:nth-child(1) {
					padding-left: 53px;
				}
			}
			&-sold-to {
				display: block;
			}

		}

	}

}
@media screen and (max-width: 767px) {}
	.table-responsive {
    border: none;
}
.invoice-details {
	position: relative;
	&__help-box {
		position: absolute;
		top: -10px;
		left: 390px;
		& svg {
			cursor: pointer;
		}
		& .help-box__title {
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.375px;
			color: #000000;
			mix-blend-mode: normal;
			opacity: 0.7;
			margin-bottom: 10px;
		}
		& .help-box__message {
			display: none;
			padding: 22px 18px 30px 32px;
			background-color: #fff;
			top: 35px;
			left: -27px;
			border: 1px solid rgba(150, 165, 175, 0.5);
			position: absolute;
			min-width: 500px;
			z-index: 9999;
			&::after {
				content: '';
				width: 15px;
				height: 15px;
				background-color: #fff;
				border: 1px solid rgba(150, 165, 175, 0.5);
				border-left: 0;
				border-bottom: 0;
				position: absolute;
				z-index: 3;
				top: -8px;
				left: 30px;
				transform: rotate(-45deg);
			}
		}
	}
	&__help {
		font-size: 14px;
		margin-top: 50px;
		margin-bottom: 50px;
		& a {
			text-decoration: underline;
		}
		& .help__link {
			font-weight: bold;
		}
	}
	&__subtotal {
		margin-top: 20px;
		position: relative;
		display: flex;
		& .subtotal__content {
			margin: 0 100px 0 auto;
			& .subtotal__total {
				font-weight: bold;
			}
			& dl {
				margin-bottom: 60px;
			}
			& dt {
				text-align: left;
				font-weight: bold;
			}
		}
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: rgba(150, 165, 175, 0.5);
			top: -12px;
		}
	}
	&__table {
		margin-top: 50px;
		margin: 50px 0 0 0!important;
	}
	&__actions {
		display: flex;
		flex-direction: row;
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
		position: relative;
		&_additional {
			margin-top: 40px;
			& .address-info {
				margin-left: 0;
			}
			&-po {
				flex-direction: row;
				margin-top: 25px;
				position: relative;
				& .invoice-details__info_first {
					margin-right: 190px;
				}
				& .invoice-details__info_first, .invoice-details__info_second {
					& dd, dt {
						margin-bottom: 0;
					}
				}
			}
		}
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: rgba(150, 165, 175, 0.5);
			bottom: -20px;
		}
		&_first,
		&_second,
		&_third {
			& > dl {
				margin-bottom: 0;
				font-size: 14px;
				& dt,
				& dd {
					margin-bottom: 15px;
					display: inline-block;
					text-align: right;
					&:last-child,
					&:nth-last-child(2) {
						margin-bottom: 0;
					}
				}
				& dd {
					margin-left: 5px;
					color: #96A5AF;
				}
			}
		}
		&_first {
			margin-right: 125px;
			padding: 0;
		}
		&_second {
			margin-right: 70px;
			padding: 0;
		}
		& .details__account-name {
			margin-left: 64px;
		}
		.invoice-details__item {
			margin-bottom: 10px;
			flex-grow: 1;
			.title {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.291667px;
			}
			.value {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.291667px;
			}


		}

	}

}
