@media (min-width: 300px) {
	.profile__action-buttons {
		justify-content: flex-start;
	}
	.profile__action_delete {
		margin: 33px 0 15px 0;
	}
	.layout.row {
		padding-bottom: 0;
	}	
}
@media (min-width: 900px) {
	.profile__action-buttons {
		justify-content: flex-end;
	}
	.profile__action_delete {
		margin: 69px 0 110px 0;
	}
	.layout.row {
		padding-bottom: 0;
	}

}
.validation-error::placeholder {
	color: red;
	opacity: 1;
}
.validation-error {
	border: 1px solid #D7001E; 
	margin-bottom: 4px; 
	color: red; 
	text-align: right; 
	font-size: 11px
}
.toggler_disable {
	display: none;
}
.profile {
	&__name {
		.input-wrap {
			padding-top: 24px;
		}
	}
	&__name:nth-child(2) {
		.name-label {
			margin-top: 15px;
		}
	}
	&__name {
		&_first {
			padding-right: 0;
			margin-right: 0;
		}
		&_last {
			padding-right: 0;
			margin-right: 0;
		}
	}
	&__phone {
		padding-right: 0;
		.row {
			width: 104%;
			.col-sm-6 {
				padding: 0 0;
			}
		}
		&_number {
			padding-left: 0;
			padding-right: 0px;
		}
		&_extension {
			padding: 0;
			padding-left: 4px;
		}
	}
	&__password {
		display: flex;
		.row {
			width: 104%;
		}
	}
	&__name,
	&__phone {
		display: flex;
		width: 100%;
		.row {
			width: 104%;
		}

		&_first > label,
		&_last > label,
		&_number > label,
		&_extension > label {
			margin-bottom: 0;
		}
		&_number {
			.phone_number {
				padding-bottom: 24px;
			}
		}
		&_extension {
			.phone_extension {
				padding-bottom: 16px;
				padding-top: 8px;
			}
		}
	}
	&__job {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		.row {
			padding-left: 15px;
			padding-right: 15px;
		}
		.select-container {
			padding-left: 15px;
		}
		& label {
			margin-bottom: 0;
		}
		& select {
			margin-top: 24px;
			border: 1px solid #ccc;
			font-size: 16px;
			height: 62px;
			position: relative;
			background: #FFFFFF;
			border: 1px solid #96A5AF;
			box-sizing: border-box;
			border-radius: 4px;
		}
		& .select-icon {
			display: none;
			@media (hover: none) and (pointer: coarse) {
				display: block;
			    position: absolute;
			    z-index: 99999;
			    left: 240px;
			    margin-top: 30px;
			}
		}
	}
	&__phone {
		margin-top: 40px;
	}
	&__info {
		margin-top: 40px;
		&_name,
		&_id {
			margin-bottom: 25px;
		}
		&_name-head,
		&_id-head,
		&_email-head,
		&_password-head {
			font-weight: bold;
			text-transform: uppercase;
		}
		&_password-head {
			margin: 26px 0 15px 0;
		}
		&_name-body,
		&_id-body,
		&_email-body {
			font-family: Roboto;
			font-size: 14px;
			padding-left: 5px;
			color: #96A5AF;
		}
		&_id-body,
		&_email-body {
			text-transform: uppercase;
		}
		&_password {
			&-title {
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 27px;
				letter-spacing: 0.5px;
				color: #000000;
				mix-blend-mode: normal;
				opacity: 0.7;
			}
			&-line {
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 27px;
				letter-spacing: 0.5px;
				color: #000000;
				mix-blend-mode: normal;
				opacity: 0.7;
				font-weight: 300;
			}
		}
	}
	&__password {
		flex-direction: column;
		margin-top: 40px;
	}
	&__action-buttons {
		align-items: flex-end;
		margin-top: 40px; 
	}
	&__action {
		&-buttons {
			display: flex;
			padding-right: 90px;
		}
		&_save {
			padding: 17px 24px;
		}
		&_cancel {
			margin-right: 20px;
			padding: 17px 17px;
			background: #FFFFFF;
			border: 1px solid rgba(150, 165, 175, 0.5);
			box-sizing: border-box;
			border-radius: 4px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 1.16667px;

			color: #96A5AF;
		}
		&_desactivate {
			
			.btn {
				padding: 17px 17px;
			}
		}
		&_delete {
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 1.16667px;

			color: #96A5AF;
			background: #F4F6F7;
			border: 1px solid rgba(150, 165, 175, 0.5);
			border-radius: 4px;

		}
		
	}
	&__modal {
		max-width: 600px;
		& .modal-header,
		& .modal-footer {
			border: 0;
		}
		& .modal-body {
			text-align: center;
		}
		& .modal-footer {
			justify-content: center;
		}
		&_title {
			margin: 0 auto;
			text-align: center;
			padding: 0 10px;
			position: relative;
			&::after {
				content: '';
				//width: 95%;
				background-color: #cad2d7;
				height: 2px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 1px;
			}
		}
		&_yes,
		&_no {
			height: 50px;
			width: 150px;
			padding: 5px 40px;
		}
	}
}