.purchase-lists{
.black{
  color: black;
}
.purchase__table{
  tr{

    td{
    &:first-child{
        width: 50%;
                }
    }

}
}
}
.cancel_circle{
  color: #375F9B;
  font-size: 200%;
  opacity: 1;
}


.hidden-md-down{
  @media screen and (max-width: $screen-md ){
display: none;
}
}
.hidden-lg-up{
  @media screen and (min-width: $screen-md ){
display: none;
}
}
#delete_circle{
  .modal-content
  {
    height: 200px;
margin-top: 20%;

  }
  p{
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    
  }
  .modal-body{
    display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   flex-direction: column;
  }
  .buttons{
width: 200px;
display: flex;
align-content: space-between;
justify-content: space-between;
 flex-direction: row;

  }
}
#purchase-list-deleted{
  .modal-content
  {
    height: 200px;
margin-top: 20%;

  }
  p{
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

  }
  .modal-body{
    display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   flex-direction: column;
  }
}
.mb-40{
  margin-bottom: 40px;
}
