.breadcrumbs {
    background: #fff;
    min-height: 81px;
    padding: 17px 0;

    &-block {
        display: flex;
        justify-content: space-between;
    }

    .breadcrumb {
        display: flex;
        align-items: center;

        >li {
            color: #96A5AF;
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
            letter-spacing: 0.6px;
            opacity: 0.7;
            position: relative;

            &:first-child {
                >a {
                    padding: 15px;
                    margin-left: -15px;
                }

                &:after {
                    content: "";
                    display: inline-block;
                    border-right: 1px solid #96A5AF;
                    height: 25px;
                    margin: 0 27px 0 0;
                    vertical-align: middle;
                }
            }
        }
    }

    .icon-arrow-left {
        color: #000;
        font-size: 20px;
    }
}


//
// Breadcrumbs [my account page]
// --------------------------------------------------

.breadcrumb {
    &__container {
        padding: 0;
        display: flex;
        margin-top: 30px;
    }
    &_account {
      padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal 0 0;
      margin-bottom: $line-height-computed;
      list-style: none;
      background-color: transparent;
      font-size: 12px;
      // border-radius: $border-radius-base;
      &-item_link {
        color: #000;
        &:hover {
            color: #000; // which color should be when we hover link?
        }
      }
      @media screen and (max-width: $screen-sm - 1) {
         display: none;
      }
      > li {
        display: inline-block;
        + li::before {
          content: '';
          width: 0px;
          height: 15px;
          border: 1px solid #96a5af;
          border-left: 0;
          border-bottom: 0;
          margin: 0 12px 0 9px;
        }
      }

      > .active {
        color: #96a5af;
      }
      &__adress {
        display: flex;
        margin-left: auto;
        position: relative;
        z-index: 2;
        @media screen and (max-width: $screen-sm - 1) {
           margin: 0 0 0 20px;
        }
        & > p {
            font-size: 12px;
            & > b {
                @media screen and (max-width: $screen-sm - 1) {
                    display: block;
                }
            }
        }
        &_change {
            padding-top: 4px;
            color: #4696cd;
            font-size: 12px;
            margin-left: 15px;
            position: relative;
            margin-right: 8px;
            // background-color: #fff;
            text-decoration: none!important;
            @media screen and (max-width: $screen-sm - 1) {
               padding-top: 29px;
            }
            &:hover {
                color: #4696cd; // same, color?
            }
            &::after {
                content: '';
                border: solid #4696cd;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                position: absolute;
                right: -12px;
                top: 6px;
                @media screen and (max-width: $screen-sm - 1) {
                   top: 30px;
                }
            }
        }
        &-dropdown {
            width: 375px;
            position: absolute;
            top: 40px;
            left: 0;
            @media screen and (max-width: $screen-sm - 1) {
                top: 60px;
            }
            background-color: white;
            visibility: hidden;
            & > ul {
                padding-inline-start: 0;
                font-size: 12px;
                list-style-type: none;
                & > li {
                    margin-bottom: 6px;
                }
                & > li > a {
                    color: #000;
                }
                & > li:first-child {
                    font-weight: bold;
                }
            }
        }
      }
    }   
}