.calendar {
  display: flex;
  position: relative;
  margin-right: 50px;

  &__input {
    height: 35px;
  }
  &__label {
    margin-right: 15px;
    line-height: 35px;
    font-weight: bold;
  }
  &__icon {
    font-size: 35px;
    margin-left: 15px;
    cursor: pointer;
  }
  &__popup {
    position: absolute;
    top: 40px;
    width: 243px;
    border: 1px solid #96A5AF;
    border-radius: 4px;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 12px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }
}

.datepicker {
  font-family: Roboto;
  font-size: 11px;
  color: #000000;
  padding: 10px;

  &--day-name {
    color: #000000;
    font-weight: bold;
  }

  &--days {
    &-names {
      margin-bottom: 10px;
    }
  }

  &--cell {
    height: 18px;

    &-day {
      &.-other-month- {
        color: #D8D8D8;
      }

      &.-selected- {
        background-color: #4696CD;

        &:hover {
          background-color: #4696CD;  
        }
      }
    }
  }

  &--nav {
    border: none;
    &-title {
      font-weight: bold;

      i {
        color: #000000;
      }
    }

    &-action {
      path {
        stroke: #000000;
      }
    }
  }
}