.page-footer {
    background-color: #EBEBEB;
    padding: 36px 0;

    @media (max-width: $screen-md - 1) {
        padding: 30px 15px;
    }

    h5 {
        line-height: 34px;
        margin: 0 0 8px 0;

        @media (min-width: $screen-md) {
            letter-spacing: 0.88px;
            text-transform: uppercase;
        }
    }

    .fa-chevron-down {
        color: #96a5af;
        font-size: 20px;
        transition: transform .2s linear;
    }
    
    a:not(.collapsed) .fa-chevron-down {
        transform:rotate(180deg);
    }

    .footer {
        &-title {
            position: relative;

            @media (max-width: $screen-md - 1) {
                border-bottom: 1px solid #fff;
                margin: 0;
                padding: 18px 0;
            }
    
            a {
                color: $gray-base;
                font-size: 20px;
                font-weight: normal;
                line-height: 21px;

                &:not(.collapsed) {
                    font-weight: bold;
                }
    
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
            }
        }
    
        &-list {
            @include list-unstyled;

            @media (max-width: $screen-md - 1) {
                margin-top: 13px;
            }
    
            &:not(.mobile) {
                @media (max-width: $screen-md - 1) {
                    margin-left: 30px;
                }
            }

            &.mobile {
                margin-top: 50px;

                > li {
                    margin: 0px;

                    > a {
                        padding: 10px 0;
                    }

                    &:not(:last-child) > a {
                        border-bottom: 1px solid #fff;
                    }
                }    
            }
    
            li {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 17px;
    
                @media (max-width: $screen-md - 1) {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
    
                a {
                    color: #555555;
    
                    @media (max-width: $screen-md - 1) {
                        color: $gray-base;
                        display: block;
                    }
                }
            }            
        }

        &-social,
        &-signup {
            h5 {
                @media (max-width: $screen-md - 1) {
                    color: #000000;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 13px;
                    text-transform: uppercase;
                }
            }
        }
    
        &-social {
            @media screen and (min-width: $screen-md) {
                margin: -106px 0 45px;
                max-width: 300px;
            }

            @media (max-width: $screen-md - 1) {
                margin-top: 50px;
            }
    
            a {
                color: #000;
                margin-right: 30px;

                @media (max-width: $screen-md - 1) {
                    margin-right: 45px;
                }
    
                &:hover {
                    text-decoration: none;
                }
            }
        }
    
        &-signup {
            @media (max-width: $screen-md - 1) {
                margin-top: 50px;
            }

            .form-group {
                margin-bottom: 0;
            }

            input {
                margin-right: 13px;
                height: 46px;
                width: 250px;

                @media (max-width: $screen-md - 1) {
                    width: 210px;
                }
            }
        }
    
        &-logo {
            margin-top: 50px;
    
            @media screen and (min-width: $screen-md) {
                float: right;
                margin-top: 20px;
            }
        }
    
        &-copy {
            color: #555555;
            font-size: 9px;
            margin: 0;
            text-transform: uppercase;
    
            @media screen and (min-width: $screen-md) {
                text-align: right;
            }

            @media screen and (max-width: $screen-md - 1) {
                line-height: 20px;
                margin-top: 20px;
            }
    
            &-links {
                @media screen and (max-width: $screen-md - 1) {
                    display: block;
                }
            }
    
            a {
                color: #555555;
                font-weight: bold;
            }
        }
    }
}
